@import "tailwindcss";

@theme {
  /* On peut ajouter des personnalisations ici si besoin */
}

/* Style de secours pour s'assurer que le texte est visible */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  background-color: #020617;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}